<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="trilobyte">
  <xacro:macro name="trilobyte_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
        <hardware>   
          <plugin>trilobyte_hardware_interface/TrilobyteControlSystem</plugin>
            <param name="left_wheel_name">joint_wheel_left</param>
            <param name="right_wheel_name">joint_wheel_right</param>
            <param name="loop_rate">30</param>
            <param name="device_pico">/dev/ttyACM0</param>
            <param name="device_esp">/dev/ttyUSB0</param>
            <param name="baud_rate">115200</param>
            <param name="timeout">1000</param>
            <param name="pulses_per_meter">732</param>
            <param name="pulses_per_revolution">138</param>
            <param name="wheel_radius">0.03</param>
            <param name="wheel_separation">0.24</param>
        </hardware>

        <joint name="joint_wheel_left">
          <command_interface name="velocity">
              <param name="min">-10</param>
              <param name="max">10</param>
          </command_interface>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
        </joint>

        <joint name="joint_wheel_right">
          <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
          </command_interface>
          <state_interface name="velocity"/>
          <state_interface name="position"/>
        </joint>

        <joint name="joint_base_lifter">
          <command_interface name="position">
            <param name="min">0</param>
            <param name="max">4095</param>
          </command_interface>
          <state_interface name="position"/>
        </joint>
        <joint name="joint_lifter_gripper_right">
          <command_interface name="position">
            <param name="min">0</param>
            <param name="max">4095</param>
          </command_interface>
          <state_interface name="position"/>
        </joint>

        <!-- additional joints ...-->
        <!-- additional hardware/sensors ...-->


      </ros2_control>

  </xacro:macro>

</robot>

